<div class="container">
  <div class="row mt-5">

    <!-- menu -->
    <div class="col-sm-4">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Все</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="favorite" routerLinkActive="active">Любимые</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="delete" routerLinkActive="active">Удаленные</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-8">
      <!-- content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>