<div class="container">
  <div class="row mt-5">

    <!-- menu -->
    <div class="col-sm-4">
      <ul class="nav nav-pills flex-column">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" href="#">{{menuItem}}</a> 
        </li>
      </ul>
    </div>

    <div class="col-sm-8">

      <!-- search -->
      <child-comp [userName]="name" [userAge]="age"></child-comp>
                <input type="text" [(ngModel)]="name" />
     
                


      <!-- table --> 
        <table class="table table-bordered table-hover table-striped">
          <tbody>
            <tr *ngFor="let emoji of emojis">
              <td>
                {{emoji.name}}
              </td>
              <td>
                {{emoji.url}}
              </td>
              <td>
                <img src="{{emoji.url}}" alt="Не удалось загрузить картинку" height="25" width="25"> 
                <span class="large">
                  <img src="{{emoji.url}}" alt="{{emoji.name}}" class="large-image">
                </span>
              </td>
                <td>
                  В избранное
                </td>
                <td>
                  Удалить
                </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- <p *ngIf="menuList.length > 3">There are many heroes!</p> -->

