<div class="container">
  <div class="row mt-5">

    <!-- menu -->
    <div class="col-sm-4">
      <ul class="nav nav-pills flex-column">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" href="#">{{menuItem}}</a> 
        </li>
      </ul>
    </div>

    <div class="col-sm-8">

      <!-- search -->
        <form class="form-inline justify-content-between mb-3" action="/action_page.php">
          <h4>Текущая страница</h4>
          <div>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </div>

        </form>


      <!-- table --> 
        <table class="table table-bordered table-hover table-striped">
          <tbody>
            <tr *ngFor="let emoji of emojis">
              <td>
                <div class="row">
                  <div class="col-sm-2">
                      {{emoji.name}}
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-5">
                      {{emoji.url}}
                  </div>
                </div>
              </td>
              <td>
                  <div class="row">
                    <div class="col-sm-3">
                        <img src="{{emoji.url}}" alt="Нет">
                    </div>
                  </div>
                </td>
                <td>
                    <div class="row">
                      <div class="col-sm-1">
                          В избранное
                      </div>
                    </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-1">
                        Удалить
                    </div>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>

<!-- <p *ngIf="menuList.length > 3">There are many heroes!</p> -->

