<!-- Search -->
<div class="d-flex justify-content-between">
  <div>
    <h3>{{page.title}}</h3>
  </div>
  <div>
    <input type="text" class="form-control form-control-sm" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="Поиск" />
  </div>
</div>

<!-- Table -->
<table class="table table-bordered table-hover table-striped">
  <tbody>
    <tr *ngFor="let emoji of emojis | filter:searchText:'name'">
      <td>
        {{emoji.name}}
      </td>
      <td>
        {{emoji.url}}
      </td>
      <td>
        <img src="{{emoji.url}}" alt="Не удалось загрузить картинку" height="25" width="25">
        <span class="large">
          <img src="{{emoji.url}}" alt="{{emoji.name}}" class="large-image">
        </span>
      </td>
      <td>
        <span><a (click)="deleteFromFavorite(emoji.name)">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>         
        </span>
      </td>
    </tr>
  </tbody>
</table>